*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #111;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.input-wrapper{
width: 600px;
display: flex;
flex-wrap: wrap;


    .lm{
        text-align: center;
        background-color: gray;
        width: calc(50% - 20px);
        height: 50px;
        margin: 10px;
        color: white;
    }
    .text{
        background-color: transparent;
        font-size: 25px;
        line-height: 50px;
    }
}

.text-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__button{
        margin: 5px;
        width: 200px;
        border: none;
        height: 50px;
        font-size: 25px;
    }
    &__button-remove{
        width: 200px;
        border: none;
        height: 50px;
        font-size: 25px;
    }
    &__text{
    }
}
